<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/form.css" />
    <title>Página de Cadastro.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <datalist id="sexos">
      <option value="masculino">Masculino</option>
      <option value="feminino">Feminino</option>
      <option value="outro">Outro</option>
    </datalist>
    <div class="container">
      <form action="">
        <h2>Cadastro</h2>
        <br />
        <p>
          <input
            type="text"
            class="inputFormCadastro"
            name="nomeCompleto"
            id="nomeCompleto"
            placeholder="Nome de Completo:"
            required
          />
        </p>
        <p>
          <input
            type="text"
            class="inputFormCadastro"
            name="nomeUsuario"
            id="nomeUsuario"
            placeholder="Nome de Usuário:"
            required
          />
        </p>
        <p>
          <input type="number" name="idade" id="idade" class="inputFormCadastro" placeholder="Idade:" required>
        </p>
        <p>
          <input type="text" list="sexos" name="sexo" id="sexo" class="inputFormCadastro" placeholder="Sexo:" required>
        </p>
        <p>
          <input
            type="password"
            class="inputFormCadastro"
            name="senha"
            id="senha"
            placeholder="Crie uma senha:"
            required
          />
        </p>
        <p>
          <input
            type="password"
            class="inputFormCadastro"
            name="confirmSenha"
            id="confirmSenha"
            placeholder="Confirme a sua senha:"
            required
          />
        </p>
        <p class="buttons">
          <input type="reset" value="Limpar" />
          <input type="submit" />
        </p>
      </form>
    </div>
  </body>
</html>
