<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-chubby/css/uicons-solid-chubby.css'>
    <title>Página Principal.</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">

        </div>
        <nav>
            <div class="links">
                <a href="#"><i class="fi fi-br-menu-burger"></i></a>
                <a href="#"><i class="fi fi-sr-home"></i></a>
                <a href="#"><i class="fi fi-ss-user"></i></a>
                <a href="#"><i class="fi fi-sc-phone-plus"></i></a>
            </div>
        </nav>
        <main>
            <section>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, optio. Obcaecati voluptates, nostrum inventore ratione necessitatibus in consequatur vero, libero accusamus iste at perspiciatis magni repudiandae facilis. Voluptates, et at.</p>
            </section>
        </main>
        <footer>
            <p><a href="https://github.com/iago-developer/" target="_blank">&copy;iago.</a></p>
        </footer>
    </div>
</body>
</html>