<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users.css">
    <title>Página Principal.</title>
</head>
<body>
    <div class="container">
        <header>
            <h2>SGU.</h2>
            <hr />
        </header>
        <main>
            <section>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed, optio. Obcaecati voluptates, nostrum inventore ratione necessitatibus in consequatur vero, libero accusamus iste at perspiciatis magni repudiandae facilis. Voluptates, et at.</p>
            </section>
        </main>
        <footer>
            <p><a href="https://github.com/iago-developer/" target="_blank">&copy;iago.</a></p>
        </footer>
    </div>
</body>
</html>